body {
	padding: 51px 0 0 0;
}

html, body {
	height: 100%;
	margin: 0;
}
.pageWrapper {
    min-height: 100%;
    margin-bottom: -59px;
}
* html .pageWrapper {
    height: 100%;
}
.pageBuffer {
	height: 59px;
}

.topTitle {
	margin-top: 0;
	margin-bottom: 22px;
}
.pageTitle {
	position: relative;
	margin: 0 0 40px;
	& > span {
		position: relative;
		z-index: 3;
		padding-right: 20px;
		background: #fff;
	}
	&:before {
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		top: 50%;
		display: block;
		height: 1px;
		margin:0 auto;
		background-color: #ccc;
		content:" ";
	}
}
.simpleTitle {
	margin: 0 0 60px;
	text-align: center;
	&:before {
		width: 600px;
	}
	& > span {
		padding:0 20px;
	}
}
a:active, a:hover, a:focus, a {
	text-decoration: none;
}
.navbar-brand {
	background: url(../img/logo-cube.png) no-repeat 15px 10px;
	padding-left: 60px;
	color: #fff !important;
}
$post-border-radius: 15px;